<html>
  <head>
    <title>Account Created Successfully</title>
    <style>
      /* Add your custom styles here */
    </style>
  </head>
  <body>
    <h3>Customer Support Posted by, {{email}}</h3>
    <br />
    <p>Description of problem : {{dop}}</p>
    <br />
    <p>Location : {{location}}</p>
  </body>
</html>