<html>
  <head>
    <title>Account Created Successfully</title>
    <style>
      /* Add your custom styles here */
    </style>
  </head>
  <body>
    <h3>Your account has been created successfully</h3>
    <br />
    <p style="font-weight: bold;">Your account credentials :</p>
    <p>Email : {{email}}</p>
    <p>Password : {{password}}</p>
    <br />
    <p>Thank you for joining Froxx.</p>
  </body>
</html>